/* Shared sections */
body {
    margin: 0px;
    font-family: 'Source Code Pro', sans-serif;
}
section {
    background-color: whitesmoke;
}
.hero {
    background-color:rgb(214, 205, 255);
    height: 100vh;
    color: white;
    font-size: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

/* Navigation bar in hero. */
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    width: 450px;
    justify-content: space-around;
    font-size: 18px;
}

ul.show  {
    display:  block;
}

li {
   /* width: 150px; */
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 800;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}
.herotext {
    margin-left: 80px;
    margin-bottom: 200px;

}
.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 160px;
    height: 40px;
    background-color: darkorchid;
    border-radius: 25px;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: rgba(153, 50, 204, 0.496);
}
.button:active {
    background-color: rgba(153, 50, 204, 0.496);
    color: black;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 10px;
    margin-top: 2px;
}

.social {
    margin: 10px;
}

/* This is styling of about me section */
.about {
    background-color: #faa8b7
}

.Subsection {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

h2 {
    font-size: 60px;
}

.Textabout {
    display: flex;
    flex-direction: column;
}
.Headshot {
    width: 400px;
    border-radius: 100px;
}

.headshot-container {
    display: flex;
    align-content: center;
}

/* Styling of Portfolio Section */
@media only screen and (max-width: 1000px){
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.subsection-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-card {
    margin: 10px;
    width: 270px;
    height: 500px;
    box-shadow: 5px 5px 20px rgba(153, 50, 204, 0.496);
}

.project-container {
    display: flex;
    justify-content: space-around;

}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.project-image {
    margin-top: 25px;
    width: 200px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #faa8b7;
}

/* Anchor*/
a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none; 
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: darkorchid;
        margin: 0ppx;
    }

    ul.show {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 20px;
    }

    nav {
        align-items: flex-end;
        display: flex;
        flex-direction: column-reverse;
        background-color: darkorchid;
    }

    .logo {
        display: none;
    }

}